<!DOCTYPE html>
<html>
<head>
  <title>Tellimus</title>
  <%= stylesheet_link_tag    "tellimus/application", :media => "all" %>
  <%= javascript_include_tag "tellimus/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>

</body>
</html>
